# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# debug information files
*.dwo
# 1. 忽略所有没有后缀名的二进制文件 (Mac/Linux 通用)
# 注意：这需要你养成给代码加 .c 后缀的好习惯
*
!*/
!*.*

# 2. 忽略常见的编译产物
*.o
*.out
*.exe
tempCodeRunnerFile*

# 3. 忽略系统和编辑器缓存
.DS_Store
.vscode/
.idea/
bin/
